In [ ]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
import numpy as np
import os
import sys
import seaborn as sns
import matplotlib.pyplot as plt

path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(path)

In [ ]:
os.getcwd()

In [ ]:
df = pd.read_csv('Datos/raw/Transaccion_train.csv', index_col=0)
display(df.sample(5))
display(df.info())

In [ ]:
df.Periodo = df.Periodo.astype('object')
df.id = df.id.astype('object')
objec = df.select_dtypes(include='object')

In [ ]:
print( "\t Monto")
display(df['Monto'].describe())
print( "\t Cat")
display(objec.describe())

In [ ]:
sns.catplot(x="Signo", y="Monto", hue="Id_Producto", kind="swarm", data=df)

In [ ]:
primer_quan, cuar_quan = df.Monto.quantile([.25, .75])

df.loc[(df.Monto > primer_quan) & (df.Monto < cuar_quan)].head()

In [ ]:
plt.figure(figsize=(9, 8))
sns.histplot(df['Monto'])#, color='blue', bins=1000

In [7]:
df_1 = df[df['Periodo']==201901]

In [8]:
df_1.head()

,Unnamed: 0,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo
0,0,1,F,D,F-D,Positivo,377142.843750,NaN,201901
21,21,1,F,H,F-H,Negativo,377142.843750,NaN,201901
38,38,1,F,J,F-J,Positivo,377142.843750,NaN,201901
82,82,1,G,K,G-K,Negativo,121357.140625,NaN,201901
87,87,1,G,K,G-K,Negativo,121533.000000,NaN,201901

In [15]:
count = df_1.groupby('Id_Producto')['Id_Producto'].count()
print(count)

Id_Producto
A    445995
B      3979
C     20180
D     11772
E     10699
F    150761
G    592953
Name: Id_Producto, dtype: int64

In [16]:
count/count.sum()

Id_Producto
A    0.360738
B    0.003218
C    0.016322
D    0.009522
E    0.008654
F    0.121941
G    0.479604
Name: Id_Producto, dtype: float64

In [17]:
df_1.describe()

         Unnamed: 0            id         Monto    Periodo
count  1.236339e+06  1.236339e+06  1.236339e+06  1236339.0
mean   1.188308e+07  3.855834e+04  2.065975e+05   201901.0
std    7.172332e+06  2.387891e+04  1.221006e+06        0.0
min    0.000000e+00  1.000000e+00  5.399200e+04   201901.0
25%    5.549613e+06  1.715200e+04  1.210814e+05   201901.0
50%    1.160254e+07  3.690300e+04  1.232357e+05   201901.0
75%    1.826253e+07  6.062200e+04  1.292643e+05   201901.0
max    2.439748e+07  7.953900e+04  3.501343e+08   201901.0