# Librerias

In [7]:
import pandas as pd
import glob
pd.options.display.float_format = '{:.2f}'.format
import numpy as np
import os
import sys
import seaborn as sns
import matplotlib.pyplot as plt
import shutil

periodos=[201901, 201902, 201903, 201904, 201905, 201906, 201907,201908, 201909, 201910, 201911, 201912,
          202001, 202002, 202003,202004, 202005, 202006, 202007,202008, 202009, 202010, 202011] #Para iterar
path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(path)
os.getcwd()#os.listdir()

'C:\\Users\\Asus\\Documents\\GitHub'

# Carga de datos

In [5]:
#Para crear los .csv
df_train = pd.read_csv('Datos/raw/Transaccion_train.csv', index_col=0) #Hacer un acumulativo de montos o trANSSACCIONES
df_train['dataset'] = 'train'

df_test = pd.read_csv('Datos/raw/Transaccion_test.csv', index_col=0) #Hacer un acumulativo de montos o trANSSACCIONES
df_test['dataset'] = 'test'

df = pd.concat([df_train, df_test], ignore_index=True)

df = df.sort_values(['id', 'Periodo'],ascending = [True, True])
df.Periodo = df.Periodo.astype('object') #Lo pasamos a str

In [6]:
df_test.Periodo.unique()

array([202008, 202009, 202010, 202011], dtype=int64)

In [8]:
#-.-.-.-.
#Subsetear por periodo:
if (not os.path.exists('./Datos/raw/transaction_subset')):# Crear carpeta ./transaction_subset
    os.mkdir('./Datos/raw/transaction_subset')
else:# Eliminar anteriores para reemplazarlos:
    shutil.rmtree('./Datos/raw/transaction_subset')
    os.mkdir('./Datos/raw/transaction_subset')
data={}
size={}
for x in df.Periodo.unique():
    data[f"P_{x}"]=df.loc[(df.Periodo ==x)]
    #print(f"df_Periodo{x}",globals()[f"df_Periodo{x}"].describe())
    size[f"P_{x}"]=data[f"P_{x}"].shape[0]
    data[f"P_{x}"].to_csv('Datos/raw/transaction_subset/'+f"P_{x}"+'.csv',index=False)
del df #Las borramos pq son cuaticas
del df_train
del df_test

# data = {}# Para leer los .csv
# size={}
# for filename in periodos:
#     data[f"P_{filename}"] = pd.read_csv('Datos/raw/transaction_subset/'+f"P_{filename}"+'.csv')
#     size[f"P_{filename}"]=data[f"P_{filename}"].shape[0]

In [10]:
def definir_tipos(dataset):    
    dataset.id = dataset.id.astype('object') #Lo pasamos a str
    dataset.Signo = dataset.Signo.astype('object') #tb
    #dataset['Fecha'] = pd.to_datetime(dataset.Fecha) #A fecha
    dataset.loc[:, 'Fecha'] =pd.to_datetime(dataset.Fecha) #A fecha
    dataset.Periodo = dataset.Periodo.astype('object') #Lo pasamos a str

dim={}
for i in list(data.keys()):
    dim[i]=data[i].shape[0]
    definir_tipos(data[i])
ncol=data['P_201906'].shape[1]
print(f'El dataset tiene {sum(dim.values())} filas y {ncol} columnas')
data['P_201906'].head(2)

El dataset tiene 28141182 filas y 9 columnas

   id Id_Producto Tipo Producto-Tipo     Signo     Monto Fecha Periodo dataset
4   1           F    D           F-D  Positivo 405714.28   NaT  201906   train
26  1           F    H           F-H  Negativo 405714.28   NaT  201906   train

# COMIENZO EDA

# EDA

In [ ]:
def analisis_columna(columna,data):
    print(f'\t La columna {columna} es tipo {data[list(data.keys())[0]][columna].dtypes}')
    print(f'\t La columna {columna} es posee los siguientes valores {data[list(data.keys())[0]][columna].unique()}')
    cuentaserie=data[list(data.keys())[0]].groupby(columna)[columna].count().to_frame()
    cuentaserie=cuentaserie.rename(columns={columna: list(data.keys())[0]})#
    lista=list(data.keys())
    lista.remove(list(data.keys())[0])
    for i in lista:
        cuentaserie2=data[i].groupby(columna)[columna].count().to_frame()
        cuentaserie2=cuentaserie2.rename(columns={columna: i})#
#         display(cuentaserie2)
        cuentaserie=pd.merge(cuentaserie, cuentaserie2, left_index=True, right_index=True,how= 'outer')
    cuentaserie.loc[:,'Total'] = cuentaserie.sum(numeric_only=True, axis=1)
    cuentaserie['Porcentaje'] = cuentaserie.Total / cuentaserie.Total.sum()
    
    print(f'\t Total de valores únicos: {cuentaserie.shape[0]}')
    print(f'\t La cantidad de cada {columna}, por periodo y en total, son:')

    display(cuentaserie)

In [ ]:
analisis_columna('id',data)

In [ ]:
analisis_columna('Id_Producto',data)

In [ ]:
analisis_columna('Tipo',data)

In [ ]:
analisis_columna('Producto-Tipo',data)

In [ ]:
analisis_columna('Signo',data)

In [ ]:
periodos=[201901, 201902, 201903, 201904, 201905, 201906, 201907,201908, 201909, 201910, 201911, 201912,
          202001, 202002, 202003,202004, 202005, 202006, 202007]
def histograma(elemento='Id_Producto'):
    datasets=[dataset[elemento] for dataset in data.values()]
    plt.rcParams.update({'font.size': 80})
    plt.figure(figsize=(120, 50), dpi=10)
    plt.hist(datasets, label=periodos,align="mid")
    plt.title(f"Histograma {elemento} por periodo")
    plt.legend(loc='upper right')
    plt.show()

In [ ]:
print(f'\t Producto')
display(histograma('Id_Producto'))

In [ ]:
print(f'\t Monto')
display(histograma('Monto'))

In [ ]:
import plotly.express as px
print(f'\t Histograma de montos por producto')
px.histogram(data_frame = data['P_201906']
             ,x = 'Monto'
             ,color = 'Id_Producto', barmode="overlay"
             )
px.histogram(data_frame = data['P_201906']
             ,x = 'Monto'
             ,color = 'Producto-Tipo', barmode="overlay"
             )

## EDA: Análisis de NaN

Solo hay nan en Fecha y signo

In [ ]:
def prepro(dataset):
    print( "\t Describe Montos")
    display(dataset['Monto'])
    print( "\t Describe Categoricas")
    objec = dataset.select_dtypes(include=['object'])
    display(objec.describe())

Veamos los nan de 'Signo':
- Todos corresponden a A-G, con distintos ID

In [ ]:
print('\t 2020 07')
v=len(data['P_202007']["Signo"])
h=data['P_202007'][data['P_202007']["Signo"].isna()].shape[0]
hv=(h/v)*100
print(f'Dataset original tiene {v} datos, de los cuales {h} ({hv}%) son nan para Signo')
prepro(data['P_202007'][data['P_202007']["Signo"].isna()]) #Obtenemos un dataset de nan en signo y lo miramos
print('\t 2019 12')
v=len(data['P_201912']["Signo"])
h=data['P_201912'][data['P_201912']["Signo"].isna()].shape[0]
hv=(h/v)*100
print(f'Dataset original tiene {v} datos, de los cuales {h} ({hv}%) son nan para Signo')
prepro(data['P_201912'][data['P_201912']["Signo"].isna()])

In [ ]:
data['P_202007'][data['P_202007']["Signo"].notna() & (data['P_202007']["Producto-Tipo"]=='A-G')]

In [ ]:
#Cantidad de nan en Signo por periodo:
nan_signo={}
for i in list(data.keys()):
    nan_signo[i]=data[i][data[i]["Signo"].isna()].shape[0]
    
display(nan_signo)
print(f'El total de nan de Signo es {sum(nan_signo.values())}')

Todos los AG son NaN!

Veamos los NaN de fecha:
- Hay distintos tipos de NaN en fecha, y son la mayoria de los datos.

In [ ]:
print('\t 2020 07')
v=len(data['P_202007']["Fecha"])
h=data['P_202007'][data['P_202007']["Fecha"].isna()].shape[0]
hv=(h/v)*100
print(f'Dataset original tiene {v} datos, de los cuales {h} ({hv}%) son nan para Fecha')
prepro(data['P_202007'][data['P_202007']["Fecha"].isna()]) #Obtenemos un dataset de nan en signo y lo miramos
print('\t 2019 12')
v=len(data['P_201912']["Fecha"])
h=data['P_201912'][data['P_201912']["Fecha"].isna()].shape[0]
hv=(h/v)*100
print(f'Dataset original tiene {v} datos, de los cuales {h} ({hv}%) son nan para Fecha')
prepro(data['P_201912'][data['P_201912']["Fecha"].isna()])

In [ ]:
#Cantidad de nan en Signo por periodo:
nan_fecha={}
for i in list(data.keys()):
    nan_fecha[i]=data[i][data[i]["Fecha"].isna()].shape[0]
    
display(nan_fecha)
print(f'El total de nan de Fecha es {sum(nan_fecha.values())}')

### Transacciones más comunes

In [ ]:
quitando={}
for i in list(data.keys()):
    quitando[i]=data[i].drop(['Monto','id','Fecha','Periodo'],axis=1)
quitando.keys()

In [ ]:
quitando['P_201901'].groupby(quitando['P_201901'].columns.tolist(),as_index=False).size().sort_values(by=['size'])

In [ ]:
#Quitantdo Id del consumidor y monto, que tipo de transacciones son las más comunes:
nan_fecha={}
for i in list(data.keys()):
    nan_fecha[i]=data[i][data[i]["Fecha"].isna()].shape[0]
    
display(nan_fecha)
print(f'El total de nan de Fecha es {sum(nan_fecha.values())}')

# FIN EDA

### Añadamos variable de cuantas transacciones realizó el id X con su producto Y en el periodo i.

In [11]:
data_enumerate = dict(enumerate(periodos, 1))
data_enumerate
new_data={}
#Primero dataset base
for i in data_enumerate.keys(): #Variable numerica de cuantas transacciones realizó en periodo actual
    data[f"P_{data_enumerate[i]}"].loc[:, ['id-producto']]=data[f"P_{data_enumerate[i]}"]['id'].astype(str)+"-"+data[f"P_{data_enumerate[i]}"]['Id_Producto']
    cuenta=data[f"P_{data_enumerate[i]}"].groupby(['id-producto'])['Monto'].count().to_frame() #Contar las transacciones
    cuenta['id-producto'] = cuenta.index #indice a columna para hacer merge
    cuenta.index.names = ['index'] #le cambiamos el nombre
    cuenta=cuenta.rename(columns={'Monto': 't_i-0'})#transacciones periodo actual
    new_data[f"P_{data_enumerate[i]}"]=pd.merge(data[f"P_{data_enumerate[i]}"],cuenta,on='id-producto',how='left')#N° transacciones mes actual
    
    #Agregamos el total de transacciones en el mes en curso
    cuenta2=new_data[f"P_{data_enumerate[i]}"].groupby(['id'])['Monto'].count().to_frame() #Total de transacciones en el mes en curso
    cuenta2['id'] = cuenta2.index #indice a columna para hacer merge
    cuenta2.index.names = ['index'] #le cambiamos el nombre 
    cuenta2=cuenta2.rename(columns={'Monto': 'TotalTMes'})#Transacciones totales de esa id ese mes
    new_data[f"P_{data_enumerate[i]}"]=pd.merge(new_data[f"P_{data_enumerate[i]}"],cuenta2,on='id',how='left')#
    
    # Lo pasamos a probabilidades, es decir, dividimos t_0 (transacciones del mes actual) en las transacciones totales
    #Y ponemos esta probabilidad en el periodo posterior al que se dió ()
    new_data[f"P_{data_enumerate[i]}"]['P Producto']=new_data[f"P_{data_enumerate[i]}"]['t_i-0']/new_data[f"P_{data_enumerate[i]}"]['TotalTMes']
    if i>=2:    
        new_data[f"P_{data_enumerate[i]}"]['P Producto i-1']=new_data[f"P_{data_enumerate[i-1]}"]['t_i-0']/new_data[f"P_{data_enumerate[i-1]}"]['TotalTMes']
    else: #Igual creamos la columna pero vacía 
        new_data[f"P_{data_enumerate[i]}"]['P Producto i-1']=np.nan

In [12]:
data['P_201907'].head(3)

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto
5,1,F,D,F-D,Positivo,262857.16,NaT,201907,train,1-F
27,1,F,H,F-H,Negativo,262857.16,NaT,201907,train,1-F
44,1,F,J,F-J,Positivo,262857.16,NaT,201907,train,1-F

In [13]:
def lag_n_ntrans(j):
    '''
    j: Orden del lag, ej: j=6, serían las transacciones a de 6 meses antes
    new_data:dataset en el que se trabajará
    '''
    for i in data_enumerate.keys(): #Variable numerica de cuantas transacciones realizó en periodo anterior
        if i>=(j+1):
            cuenta=data[f"P_{data_enumerate[i-j]}"].groupby(['id-producto'])['Monto'].count().to_frame() #Contar las transacciones periodo anterior de la persona y producto
            cuenta['id-producto'] = cuenta.index #indice a columna para hacer merge
            cuenta.index.names = ['index'] #le cambiamos el nombre
            cuenta=cuenta.rename(columns={'Monto': f't_i-{j}'})#transacciones anteriores
            new_data[f"P_{data_enumerate[i]}"]=pd.merge(new_data[f"P_{data_enumerate[i]}"],cuenta,on='id-producto',how='left')#N° transacciones mes anterior
        else:
            new_data[f"P_{data_enumerate[i]}"][f't_i-{j}']=np.nan #Igualmente creamos columna, pero vacía para periodos menores a j

In [14]:
data['P_201907'].head(3)

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto
5,1,F,D,F-D,Positivo,262857.16,NaT,201907,train,1-F
27,1,F,H,F-H,Negativo,262857.16,NaT,201907,train,1-F
44,1,F,J,F-J,Positivo,262857.16,NaT,201907,train,1-F

In [ ]:
new_data.keys()

In [15]:
lag_n_ntrans(1) #1 mes antes
lag_n_ntrans(2) #2 meses antes
lag_n_ntrans(3) #3 meses antes
display(new_data['P_201905'].sample(5))
display(new_data['P_201909'].sample(5))

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,t_i-0,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3
1404536,77664,G,K,G-K,Negativo,127841.57,NaT,201905,train,77664-G,11,27,0.41,NaN,9.00,9.00,6.00
1173380,66468,G,K,G-K,Negativo,121099.00,NaT,201905,train,66468-G,10,15,0.67,0.14,9.00,5.00,5.00
1259599,70571,A,G,A-G,NaN,148144.00,2019-05-27,201905,train,70571-A,21,42,0.50,0.78,13.00,18.00,15.00
1265637,70824,G,K,G-K,Negativo,125926.14,NaT,201905,train,70824-G,10,21,0.48,0.32,12.00,11.00,8.00
638613,33400,B,B,B-B,Negativo,126538.00,2019-05-19,201905,train,33400-B,1,19,0.05,0.67,NaN,NaN,NaN

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,t_i-0,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3
614893,37157,G,K,G-K,Negativo,120511.43,NaT,201909,train,37157-G,18,28,0.64,0.33,13.00,17.00,9.00
738051,45864,G,K,G-K,Negativo,121924.29,NaT,201909,train,45864-G,19,28,0.68,0.70,13.00,22.00,12.00
883945,55295,A,K,A-K,Negativo,127714.29,NaT,201909,train,55295-A,12,15,0.80,0.86,5.00,9.00,3.00
796443,49534,A,L,A-L,Positivo,121428.57,NaT,201909,train,49534-A,6,14,0.43,0.12,4.00,6.00,6.00
244121,14422,F,I,F-I,Negativo,360559.00,NaT,201909,train,14422-F,4,7,0.57,0.60,2.00,3.00,2.00

Lo pasamos a cambio porcentual, es decir (t_i-2 - t_i-1)/t_i-2

In [16]:
def cambio_porcentual_ntrans(j):
    '''
    j: Es para obtener cuanto, en porcentaje, aumentaron las transacciones del periodo j respecto al periodo j+1.
    '''
    for i in data_enumerate.keys(): 
        new_data[f"P_{data_enumerate[i]}"][f'delta{j}']=(new_data[f"P_{data_enumerate[i]}"][f't_i-{j}']-new_data[f"P_{data_enumerate[i]}"][f't_i-{j+1}'])/new_data[f"P_{data_enumerate[i]}"][f't_i-{j}']

In [17]:
cambio_porcentual_ntrans(0) #aumento de transacciones del periodo 0 respecto al periodo 1.
cambio_porcentual_ntrans(1)
cambio_porcentual_ntrans(2)

In [18]:
new_data['P_201907'].sample(5)

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,t_i-0,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2
492398,27604,A,K,A-K,Negativo,122142.86,NaT,201907,train,27604-A,7,12,0.58,0.62,2.00,8.00,1.00,0.71,-3.00,0.88
775034,45324,A,K,A-K,Negativo,123995.71,NaT,201907,train,45324-A,6,17,0.35,0.75,2.00,2.00,2.00,0.67,0.00,0.00
1316457,77448,A,K,A-K,Negativo,129639.00,NaT,201907,train,77448-A,18,21,0.86,NaN,5.00,9.00,15.00,0.72,-0.80,-0.67
317797,17407,F,J,F-J,Positivo,5562857.00,NaT,201907,train,17407-F,4,22,0.18,0.29,3.00,3.00,4.00,0.25,0.00,-0.33
308850,16985,A,K,A-K,Negativo,125000.00,NaT,201907,train,16985-A,7,19,0.37,0.33,4.00,4.00,4.00,0.43,0.00,0.00

### Variable de si id tenía producto en periodo anterior

In [19]:
new_data['P_201901']['Tenia Producto']=np.nan

i=2
tenia=new_data[f"P_{data_enumerate[i-1]}"].groupby(['id-producto'])['Monto'].count().to_frame() #Todos los id que estaban en el periodo pasado
tenia['Monto']=1
tenia['id-producto'] = tenia.index #indice a columna para hacer merge
tenia.index.names = ['index'] #le cambiamos el nombre
tenia=tenia.rename(columns={'Monto': f'Tenia Producto'})#transacciones anteriores
new_data[f"P_{data_enumerate[i]}"]=pd.merge(new_data[f"P_{data_enumerate[i]}"],tenia,on='id-producto',how='left')#N° transacciones mes anterior

In [20]:
for i in data_enumerate.keys(): 
    if i>=3:
        tenia2=new_data[f"P_{data_enumerate[i-1]}"].groupby(['id-producto'])['Monto'].count().to_frame() #Todos los id que estaban en el periodo pasado
        tenia2['Monto']=1
        tenia2['id-producto'] = tenia2.index #indice a columna para hacer merge
        tenia2.index.names = ['index'] #le cambiamos el nombre
        tenia2=tenia2.rename(columns={'Monto': f'Tenia Producto'})#transacciones anteriores
        tenia_diff = tenia2[~tenia2['id-producto'].isin(tenia['id-producto'])]
        tenia = pd.concat([tenia, tenia_diff])
        display(tenia.shape)
        new_data[f"P_{data_enumerate[i]}"]=pd.merge(new_data[f"P_{data_enumerate[i]}"],tenia,on='id-producto',how='left')#N° transacciones mes anterior

(227569, 2)

(246161, 2)

(258505, 2)

(271199, 2)

(282196, 2)

(289540, 2)

(297543, 2)

(304948, 2)

(312454, 2)

(319587, 2)

(327361, 2)

(334846, 2)

(341905, 2)

(348939, 2)

(352637, 2)

(355891, 2)

(362244, 2)

(369121, 2)

(374080, 2)

(375733, 2)

(376479, 2)

In [21]:
display(new_data['P_201905'].sample(5))
display(new_data['P_201909'].sample(5))

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
715455,38085,G,K,G-K,Negativo,121571.43,NaT,201905,train,38085-G,...,31,1.00,0.84,4.00,15.00,9.00,0.87,-2.75,0.40,1.00
1261917,70665,F,J,F-J,Positivo,200578.28,NaT,201905,train,70665-F,...,28,0.11,0.38,3.00,3.00,3.00,0.00,0.00,0.00,1.00
1412243,78179,G,K,G-K,Negativo,126044.29,NaT,201905,train,78179-G,...,26,0.50,NaN,11.00,13.00,6.00,0.15,-0.18,0.54,1.00
1328497,73753,A,K,A-K,Negativo,120894.94,NaT,201905,train,73753-A,...,63,0.65,NaN,53.00,43.00,61.00,-0.29,0.19,-0.42,1.00
829238,45349,G,K,G-K,Negativo,122857.14,NaT,201905,train,45349-G,...,13,0.92,0.37,6.00,12.00,12.00,0.50,-1.00,0.00,1.00

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1191738,74043,G,K,G-K,Negativo,122721.43,NaT,201909,train,74043-G,...,27,0.70,0.12,21.00,23.00,19.00,-0.11,-0.10,0.17,1.00
21697,1345,G,K,G-K,Negativo,123227.43,NaT,201909,train,1345-G,...,33,0.33,0.62,12.00,9.00,8.00,-0.09,0.25,0.11,1.00
1279347,79126,A,K,A-K,Negativo,125712.86,NaT,201909,train,79126-A,...,5,0.80,NaN,6.00,10.00,10.00,-0.50,-0.67,0.00,1.00
3495,191,A,K,A-K,Negativo,150452.86,NaT,201909,train,191-A,...,23,0.78,0.78,10.00,17.00,24.00,0.44,-0.70,-0.41,1.00
1154807,72097,G,K,G-K,Negativo,123385.71,NaT,201909,train,72097-G,...,58,0.72,0.85,56.00,48.00,46.00,-0.33,0.14,0.04,1.00

### Signo a número

In [22]:
for i in data_enumerate.keys(): 
    new_data[f"P_{data_enumerate[i]}"]['Signo']=new_data[f"P_{data_enumerate[i]}"]['Signo'].replace(['Positivo','Negativo',np.nan],[1,-1,0])

In [23]:
display(new_data['P_201905'].sample(5))
display(new_data['P_201909'].sample(5))

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
384885,19438,A,K,A-K,-1,195113.14,NaT,201905,train,19438-A,...,28,0.43,0.85,8.00,7.00,11.00,0.33,0.12,-0.57,1.00
38416,2030,G,K,G-K,-1,122495.57,NaT,201905,train,2030-G,...,29,0.55,0.53,11.00,22.00,9.00,0.31,-1.00,0.59,1.00
323303,16190,G,K,G-K,-1,121284.29,NaT,201905,train,16190-G,...,24,0.79,0.48,15.00,11.00,7.00,0.21,0.27,0.36,1.00
516777,26636,A,K,A-K,-1,136428.58,NaT,201905,train,26636-A,...,17,0.71,0.40,9.00,12.00,9.00,0.25,-0.33,0.25,1.00
1411744,78153,G,K,G-K,-1,123998.57,NaT,201905,train,78153-G,...,28,0.61,NaN,19.00,16.00,8.00,-0.12,0.16,0.50,1.00

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
77252,4723,D,F,D-F,-1,127680.00,2019-09-03,201909,train,4723-D,...,9,0.11,0.41,2.00,NaN,1.00,-1.00,NaN,NaN,1.00
1223432,75922,A,G,A-G,0,177625.00,2019-09-16,201909,train,75922-A,...,16,0.12,0.36,2.00,1.00,1.00,0.00,0.50,0.00,1.00
694045,42179,G,K,G-K,-1,122274.29,NaT,201909,train,42179-G,...,18,0.89,0.71,13.00,15.00,8.00,0.19,-0.15,0.47,1.00
522265,31072,A,G,A-G,0,431716.00,2019-09-16,201909,train,31072-A,...,21,0.43,0.56,4.00,10.00,19.00,0.56,-1.50,-0.90,1.00
445,18,G,K,G-K,-1,134685.72,NaT,201909,train,18-G,...,33,0.70,0.04,24.00,26.00,17.00,-0.04,-0.08,0.35,1.00

Ejemplo de dataset para una persona-producto '79539-E'

In [24]:
for i in data_enumerate.keys(): 
    display(new_data[f"P_{data_enumerate[i]}"][new_data[f"P_{data_enumerate[i]}"]['id-producto']=='79539-E'])

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1301103,79539,E,F,E-F,-1,125714.00,2019-04-05,201904,train,79539-E,...,5,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1436190,79539,E,E,E-E,1,125714.00,2019-05-06,201905,train,79539-E,...,3,0.33,NaN,1.00,NaN,NaN,0.00,NaN,NaN,1.00

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1285486,79539,E,F,E-F,-1,120714.00,2019-09-25,201909,train,79539-E,...,5,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1347327,79539,E,E,E-E,1,120714.00,2019-11-25,201911,train,79539-E,...,6,0.17,NaN,NaN,1.00,NaN,NaN,NaN,NaN,1.00

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1051711,79539,E,F,E-F,-1,120357.00,2020-06-22,202006,train,79539-E,...,13,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo,dataset,id-producto,...,TotalTMes,P Producto,P Producto i-1,t_i-1,t_i-2,t_i-3,delta0,delta1,delta2,Tenia Producto
1205571,79539,E,F,E-F,-1,120714.00,2020-08-25,202008,test,79539-E,...,8,0.12,NaN,NaN,1.00,NaN,NaN,NaN,NaN,1.00

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [id, Id_Producto, Tipo, Producto-Tipo, Signo, Monto, Fecha, Periodo, dataset, id-producto, t_i-0, TotalTMes, P Producto, P Producto i-1, t_i-1, t_i-2, t_i-3, delta0, delta1, delta2, Tenia Producto]
Index: []

[0 rows x 21 columns]

In [ ]:
#Guardar .csv
df=new_data[f"P_201901"]
for filename in periodos:
    print(filename)
    if filename=='201901':
        pass
    else:
        df=pd.concat([df, new_data[f"P_{filename}"]], ignore_index=True)
        
display(df.sample(6))
display(df.head(11))

201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003

In [ ]:
df.shape

In [ ]:
df.to_csv('C:/Users/Asus/Documents/GitHub/Datos/intermedia/transacciones_v1.csv',index=False)