In [ ]:
import pandas as pd
import glob
pd.options.display.float_format = '{:.2f}'.format
import numpy as np
import os
import sys
import seaborn as sns
import matplotlib.pyplot as plt

path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
os.chdir(path)
os.getcwd()


# All files and directories ending with .csv and that don't begin with a dot:
print(glob.glob("/home/adam/*.csv))

In [2]:
df = pd.read_csv('Datos/raw/Transaccion_train.csv', index_col=0)
display(df.sample(5))
display(df.info())

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo
14630499,47807,G,K,G-K,Negativo,123705.71,NaN,202006
21922852,72065,F,I,F-I,Negativo,120000.00,NaN,202005
7781531,24320,A,L,A-L,Positivo,174158.53,NaN,201909
10522401,33198,G,K,G-K,Negativo,127671.43,NaN,201904
6333856,19602,D,E,D-E,Positivo,122126.00,2019-04-01,201904

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24397537 entries, 0 to 24397536
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   Id_Producto    object
 2   Tipo           object
 3   Producto-Tipo  object
 4   Signo          object
 5   Monto          float64
 6   Fecha          object
 7   Periodo        int64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.6+ GB

None

In [10]:
df.Periodo = df.Periodo.astype('object')
df.id = df.id.astype('object')
objec = df.select_dtypes(include=['object'])

TypeError: string dtypes are not allowed, use 'object' instead

In [4]:
print( "\t Monto")
display(df['Monto'].describe())
print( "\t Cat")
display(objec.describe())

	 Monto

count      24397537.00
mean         207511.62
std        11673145.75
min          -25903.14
25%          121125.71
50%          123542.86
75%          131140.00
max     33152253952.00
Name: Monto, dtype: float64

	 Cat

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Fecha,Periodo
count,24397537,24397537,24397537,24397537,22958345,2413515,24397537
unique,79539,7,12,16,2,554,19
top,19847,G,K,G-K,Negativo,2019-05-28,201912
freq,1696,11043005,18729512,11043005,20819321,63914,1597969

In [16]:
for x in df.Periodo.unique():
    globals()[f"df_Periodo{x}"] = df.loc[(df.Periodo ==x)]
    print(f"df_Periodo{x}",globals()[f"df_Periodo{x}"].describe())
    #df.to_csv(index=False)
display(df_Periodo201912)

,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo
10,1,F,D,F-D,Positivo,262857.16,NaN,201912
32,1,F,H,F-H,Negativo,262857.16,NaN,201912
49,1,F,J,F-J,Positivo,262857.16,NaN,201912
61,1,G,K,G-K,Negativo,121242.14,NaN,201912
115,1,A,G,A-G,NaN,294934.00,2019-12-26,201912
...,...,...,...,...,...,...,...,...
24397442,79539,C,D,C-D,Positivo,156376.14,2019-12-17,201912
24397460,79539,C,C,C-C,Negativo,702504.00,2019-12-30,201912
24397479,79539,F,I,F-I,Negativo,120000.00,NaN,201912
24397489,79539,F,J,F-J,Positivo,120000.00,NaN,201912
24397535,79539,A,G,A-G,NaN,185393.00,2019-12-17,201912

In [ ]:
sns.histplot(df_Periodo201912['Monto'])#, color='blue', bins=1000

In [ ]:
primer_quan, cuar_quan = df.Monto.quantile([.25, .75])

df.loc[(df.Monto > primer_quan) & (df.Monto < cuar_quan)].head()

In [7]:
df_1 = df[df['Periodo']==201901]

In [ ]:
sns.catplot(x="Signo", y="Monto", hue="Id_Producto", kind="swarm", data=df)

In [8]:
df_1.head()

,Unnamed: 0,id,Id_Producto,Tipo,Producto-Tipo,Signo,Monto,Fecha,Periodo
0,0,1,F,D,F-D,Positivo,377142.843750,NaN,201901
21,21,1,F,H,F-H,Negativo,377142.843750,NaN,201901
38,38,1,F,J,F-J,Positivo,377142.843750,NaN,201901
82,82,1,G,K,G-K,Negativo,121357.140625,NaN,201901
87,87,1,G,K,G-K,Negativo,121533.000000,NaN,201901

In [15]:
count = df_1.groupby('Id_Producto')['Id_Producto'].count()
print(count)

Id_Producto
A    445995
B      3979
C     20180
D     11772
E     10699
F    150761
G    592953
Name: Id_Producto, dtype: int64

In [16]:
count/count.sum()

Id_Producto
A    0.360738
B    0.003218
C    0.016322
D    0.009522
E    0.008654
F    0.121941
G    0.479604
Name: Id_Producto, dtype: float64

In [17]:
df_1.describe()

         Unnamed: 0            id         Monto    Periodo
count  1.236339e+06  1.236339e+06  1.236339e+06  1236339.0
mean   1.188308e+07  3.855834e+04  2.065975e+05   201901.0
std    7.172332e+06  2.387891e+04  1.221006e+06        0.0
min    0.000000e+00  1.000000e+00  5.399200e+04   201901.0
25%    5.549613e+06  1.715200e+04  1.210814e+05   201901.0
50%    1.160254e+07  3.690300e+04  1.232357e+05   201901.0
75%    1.826253e+07  6.062200e+04  1.292643e+05   201901.0
max    2.439748e+07  7.953900e+04  3.501343e+08   201901.0